{% extends "layout_dfe_admin.html" %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Check details
        </h1>
      </legend>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="replace-commas">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What you added
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['orgType']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden"> organisation type</span>
            </a>
          </dd>
        </div>

        {% if data['orgType'] === 'Voluntary and community sector' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local authority
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['localAuthority'] | first }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden"> local authority</span>
            </a>
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['orgName']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

      </dl>

      <form method="post">

        <button class="govuk-button">
          Confirm details
        </button>
      </form>
    </fieldset>
  </div>


</div>
{% endblock %}

{% block pageScripts %}
<script type="javascript">
  // $(document).ready(function () {
  //   $("body").children().each(function() {
  //     $(this).html($(this).html().replace(",",",&nbsp;"));
  //   });
  // })
</script>
{% endblock %}