{% extends "layout_dfe_fh_signedin.html" %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
        What does the service help with? 
        </h1>
      </legend>
      <form method="post">
        <div class="govuk-form-group">
          <div id="hint" class="govuk-hint">
            Select all that apply. 
          </div>
          <input class="govuk-input icon icon--left icon--search js-action govuk-!-padding-left-7 govuk-!-margin-bottom-4" id="filter" placeholder="Search" role="combobox">
          {{ govukCheckboxes({
          name: "category-1",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: "Activities, clubs and groups",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
          }
          },
          items: [
          {
          value: "",
          text: "Activities"
          },
          {
          value: "",
          text: "Before and after school clubs"
          },
          {
          value: "",
          text: "Holiday clubs and schemes"
          },
          {
          value: "",
          text: "Music, arts and dance"
          },
          {
          value: "",
          text: "Parent, baby and toddler groups"
          },
          {
          value: "",
          text: "Pre-school playgroup"
          },
          {
          value: "",
          text: "Sports and recreation"
          },
          {
          value: "",
          text: "Youth clubs and activities"
          }
          ]
          }) }}

          {{ govukCheckboxes({
          name: "category-2",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: "Family support",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
          }
          },
          items: [
          {
          value: "",
          text: "Breaks and respite"
          },
          {
          value: "",
          text: "Bullying and cyber bullying"
          },
          {
          value: "",
          text: "Debt and welfare advice"
          },
          {
          value: "",
          text: "Domestic abuse"
          },
          {
          value: "",
          text: "Intensive targeted family support"
          },
          {
          value: "",
          text: "Money, benefits and housing"
          },
          {
          value: "",
          text: "Reducing parental conflict"
          },
          {
          value: "",
          text: "Separating and separated parent support"
          },
          {
          value: "",
          text: "Stopping smoking"
          },
          {
          value: "",
          text: "Substance misuse (including alcohol and drug)"
          },
          {
          value: "",
          text: "Support with parenting"
          },
          {
          value: "",
          text: "Targeted support and youth justice services"
          }
          ]
          }) }}

          {{ govukCheckboxes({
          name: "category-3",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: "Health",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
          }
          },
          items: [
          {
          value: "",
          text: "Hearing and sight"
          },
          {
          value: "",
          text: "Nutrition and weight management"
          },
          {
          value: "",
          text: "Oral health"
          },
          {
          value: "",
          text: "Public health services"
          }
          ]
          }) }}

          {{ govukCheckboxes({
          name: "category-4",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: "Pregnancy, birth and early years",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
          }
          },
          items: [
          {
          value: "",
          text: "Early years language and learning"
          },
          {
          value: "",
          text: "Birth registration"
          },
          {
          value: "",
          text: "Infant feeding support (including breastfeeding)"
          },
          {
          value: "",
          text: "Midwife and maternity"
          },
          {
          value: "",
          text: "Perinatal mental health support (pregnancy to one year post birth)"
          },
          {
          value: "",
          text: "Health visiting"
          }
          ]
          }) }}

          {{ govukCheckboxes({
          name: "category-5",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: "Special educational needs and disabilities (SEND) support",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
          }
          },
          items: [
          {
          value: "",
          text: "Early years support"
          },
          {
          value: "",
          text: "Groups for parents and carers of children with SEND"
          },
          {
          value: "",
          text: "Healthcare and therapies"
          },
          {
          value: "",
          text: "Support outside school"
          },
          {
          value: "",
          text: "Support with education"
          }
          ]
          }) }}

          {{ govukCheckboxes({
          name: "category-6",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: "Transport",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
          }
          },
          items: [
          {
          value: "",
          text: "Community transport"
          },
          {
          value: "",
          text: "Specialist transport"
          }
          ]
          }) }}
        </div>

      <button class="govuk-button">
        Continue
      </button>
    </form>
    </fieldset>
  </div>


</div>
{% endblock %}

{% block pageScripts %}
<script>
  function dontPickThis()
  {
    // document.getElementsByName('category-no').checked = false;
    // alert("You can't select this option as part of this prototype - sorry!");
    var checkboxes = document.getElementsByName('category-no');
    for(var a=0;a<checkboxes.length;a++) {
      checkboxes[a].checked = false;
    }
    alert("You can't select this option as part of this prototype - sorry!");
  }
</script>
{% endblock %}
