{% extends "layout_dfe_fh_prof.html" %}
{% set mainClasses = "custom-main" %}

{% block beforeContent %}
<a href="start" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Search for services by postcode</h1>

    <p class="govuk-!-margin-bottom-6">We will use the postcode you enter to find services in that local authority area.</p>
    <!---<p>Enter a postcode to find nearby services.<p>--->
    <!---<p>You can also search by what the family needs help with.</p>--->
    <form method="post" novalidate data-validate="my-form-validation">
      {{ govukInput({
        label: {
          text: "Enter a postcode",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        id: "postcode",
        hint: {
          text: "For example SW1A 2AA"
        },
        name: "postcode",
        classes: "govuk-input--width-10",
        value: data['postcode']
      }
      ) }}

      <button class="govuk-button govuk-!-padding-left-3 govuk-!-padding-right-3" >
        Search
      </button>
    </form>

    <!-- <p>If no results for this postcode show <a href="no-results-for-this-postcode">this page</a></p> -->

    <script type="application/json" id="my-form-validation">
      {
        "postcode": {
          "presence": {
            "message": "^You need to enter a postcode"
          }
        }
      }
    </script>
  </div>


</div>
{% endblock %}
