{% extends "layout_fh_signedin.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Service added
      </h1>
    </div>

    <p>It is now showing in the directory.</p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next</h2>

    <p class="govuk-body">People working with families can now connect them to the service.</p>

    <p class="govuk-body">View these connections on your homepage.</p>

    <form method="post">
      <button class="govuk-button">Go to homepage</button>
    </form>

  </div>
</div>

{% endblock %}
