{% extends "layout_fh_signedin.html" %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h2 class="govuk-fieldset__heading">
          Can families choose where they use the service?
        </h2>
      </legend>
      <div id="heading-hint" class="govuk-hint">
        For example, the family's home or a public place.
      </div>
      <form method="post">

        <div class="govuk-form-group">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="family-choice" name="family-choice" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="family-choice">
                Yes, they can choose where
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="family-choice-2" name="family-choice" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="family-choice-2">
                No, they cannot choose where
              </label>
            </div>

          </div>
        </div>

      <button class="govuk-button">
        Continue
      </button>
    </form>
    </fieldset>
  </div>


</div>
{% endblock %}
