{% extends "layout_unbranded.html" %}

{% block content %}
<div class=""><div class="aHl"></div><div id=":18f" tabindex="-1"></div><div id=":18q" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0."><div id=":18r" class="a3s aiL msg5426901164855190264"><div class="adM">
</div><u></u>














  <div style="font-family:Helvetica,Arial,sans-serif;font-size:16px;margin:0;color:#0b0c0c">

    <span style="display:none;font-size:1px;color:#fff;max-height:0">Activate your Early Years Child Development Training account Thank you for creating an Early Years Child Development Training account. Please use the account activation link to confirm your email address: TEST URL If you did not ask to set up an account, p…</span>



    <table role="presentation" class="m_5426901164855190264content" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;max-width:580px;width:100%!important" width="100%">
      <tbody><tr>
        <td width="10" height="10" valign="middle"></td>
        <td>

          <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
            <tbody><tr>
              <td height="24" width="100%" colspan="2"><br></td>
            </tr>
            <tr>
              <td>
                <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
                  <tbody><tr>
                    <td style="padding:0 5px 0 7px;border-left:solid 2px #003a69">
                      <img src="https://ci6.googleusercontent.com/proxy/FDrMfmAHaqUFoXdoHqffVW5gpORUuzPmEa64f4rztYGZDwWqnyfwlzZveDWCs19ve5fdC5DwBNzP6C8GBqYB1iuLFbbs0fr2xOtfAT99qpkamE_KU-KUj6QA70rYBDqBkdt6rlN4o3fngePyoWiLYkiTxH3OvPFi-A=s0-d-e1-ft#https://static-logos.notifications.service.gov.uk/4885b2b0-c07d-4483-bdb1-f6aedad62497-dfe_27px_x2.png" style="display:block;border:0" height="27" alt="" class="CToWUd" data-bit="iit">
                    </td>
                    <td width="100%" style="font-family:Helvetica,Arial,sans-serif;font-size:18px;line-height:23px" valign="center">

                      Department for Education

                    </td>
                  </tr>
                  </tbody></table>
              </td>
            </tr>
            </tbody></table>

        </td>
        <td width="10" valign="middle" height="10"></td>
      </tr>
      </tbody></table>

    <table role="presentation" class="m_5426901164855190264content" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;max-width:580px;width:100%!important" width="100%">
      <tbody><tr>
        <td height="30"><br></td>
      </tr>
      <tr>
        <td width="10" valign="middle"><br></td>
        <td style="font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:1.315789474;max-width:560px">

          <h2 style="Margin:0 0 20px 0;padding:0;font-size:27px;line-height:35px;font-weight:bold;color:#0b0c0c">Activate your Early Years Child Development Training account</h2><p style="Margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">Thank you for creating an Early Years Child Development Training account. </p><p style="Margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">Please use the account activation link to confirm your email address: TEST URL</p><p style="Margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">If you did not ask to set up an account, please ignore this email.</p><p style="Margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">Contact <a href="mailto:child-development.training@education.gov.uk" target="_blank">child-development.training@<wbr>education.gov.uk</a> for further help or to give us feedback.</p>

        </td>
        <td width="10" valign="middle"><br></td>
      </tr>
      <tr>
        <td height="30"><br></td>
      </tr>
      </tbody></table><div class="yj6qo"></div><div class="adL">

  </div></div><div class="adL">

  </div></div></div><div id=":18b" class="ii gt" style="display:none"><div id=":18a" class="a3s aiL "></div></div><div class="hi"></div></div>
{% endblock %}
