{% extends "layout_fh.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Add or update details of your service in the Family Hubs list of local support</h1>

    <p>This is for organisations, community groups and charities supporting children, young people and families in England.</p>
    <p>Use this to add or update details about services shown in the Family Hubs list of local support. </p>

    <div class="govuk-inset-text">
      To use this, your local authority must have approved your application to join the list of local support.
    </div>
    <form method="post">
      <button class="govuk-button govuk-button--start">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </button>
    </form>

    <h2 class="govuk-heading-m">If you want to join the Family Hubs list of local support</h2>
    <p>Join the list of services to: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>help families and professionals find out what your service offers</li>
      <li>receive requests for support from professionals working with families</li>
      <li>show families how to contact you</li>
    </ul>
    <p>You can join by contacting your local authority.</p>
  </div>


</div>
{% endblock %}
