{% extends "layout_fh.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Welcome, Brambles Baby Group</h1>

    <p>You need to add details of any services you offer.</p>
    <p>These details will be shown in the list of Family Hubs local support. This will help families and professionals decide whether your services are right for them.</p>

    <form method="post">
      <button class="govuk-button">
        Add service details
      </button>
    </form>
  </div>


</div>
{% endblock %}
