{% extends "layout_dfe_admin.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Family hub added
      </h1>
    </div>

    <p class="govuk-!-margin-top-6">It is now showing in the directory.</p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-4">What happens next</h2>

    <p class="govuk-body">Families can contact the family hub using details shown in the directory.</p>

    <form method="post">
      <button class="govuk-button">Go to homepage</button>
    </form>

  </div>
</div>

{% endblock %}
