{% extends "layout_fh_prof_signedin.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Check the details you entered
                        </h1>
      </legend>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="replace-commas">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['full-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the person have any special educational needs, disabilities or health conditions?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['send']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden">type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value" id="test">
              {{ data['email'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden">type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UK telephone number
          </dt>
          <dd class="govuk-summary-list__value">
              {{data['telephone-number']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden">type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Why does this person or family need support from this service?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['with-hint']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden"> type</span>
            </a>
          </dd>
        </div>
      </dl>

    <form method="post">

      <button class="govuk-button">
        Confirm details
      </button>
    </form>
    </fieldset>
  </div>


</div>
{% endblock %}

{% block pageScripts %}
{% endblock %}