{% extends "layout_fh_prof_signedin.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Family connected to service
      </h1>
    </div>

   <p class="govuk-body">You have given the family's details to the service.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        The service will contact the family if they can help them. The service may contact you for more details about the family.</p>
  </div>


</div>
{% endblock %}
