{% extends "layout_fh_prof_signedin.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              You cannot use this service
            </h1>
          </legend>
          <p>Contact the police if you think someone is in danger or is being harmed.</p>
        </fieldset>
      </div>
      <button class="govuk-button">
        Return to start
      </button>
    </form>
  </div>


</div>
{% endblock %}
