{% extends "layout_dfe_admin.html" %}
{% set hideNavigation = true %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Reset your password</h1>

    <p> Enter your email address.</p>

    <p>If an account is linked to it, we will send an email to create a new password.</p>

    <form method="post" novalidate data-validate='my-form-validation'>
      <div class="govuk-form-group"> <label for="email" class="govuk-label" aria-describedby="user_id-hint">Email address</label>
        <input type="text" name="email" id="email" class="govuk-input govuk-!-width-one-half" value="" maxlength="22" autocomplete="email">
      </div>
      <button class="govuk-button">
        Send email
      </button>
    </form>
    <script type="application/json" id="my-form-validation">

      {
        "email": {
          "presence": {
            "message": "^Enter an email address in the correct format, like name@example.com"
          }
        }
      }
    </script>
  </div>


</div>
{% endblock %}
