{% extends "layout_dfe_admin.html" %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Manage your services</h1>
      <p>View, change or delete services shown in the directory.</p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table" data-module="moj-sortable-table">
            <!---<caption class="govuk-table__caption govuk-table__caption--m">Your services</caption>--->
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Service</th>
                <th scope="col" class="govuk-table__header"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Bouncers Parent And Toddler Group</td>
                <td class="govuk-table__cell" style="text-align: right">
                    <a href="view-edit" class="govuk-!-margin-right-1">View</a>
                    <a href="remove-service" class="govuk-!-margin-right-0">Delete</a>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Praxis</td>
                <td class="govuk-table__cell" style="text-align: right">
                    <a href="#" class="govuk-!-margin-right-1">View</a>
                    <a href="#" class="govuk-!-margin-right-0">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
