{% extends "layout_dfe_admin.html" %}
{% set hideNavigation = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
    <p>Try again later.</p>
    <p>If the problem continues, email us at <a href="mailto:manage-family-support.service@education.gov.uk">manage-family-support.service@education.gov.uk</a>.</p>
    <p class="govuk-body"><a href="">Back to homepage</a></p>
  </div>


</div>
{% endblock %}
