{% extends "layout_dfe_admin.html" %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Which organisation is the account for? 
        </h1>
      </legend>
      <form method="post" novalidate data-validate='my-form-validation'>
        <div class="govuk-form-group">
          <label class="govuk-label" for="vcsOrg">
            <!--Select organisation--->
          </label>
          <select class="govuk-select" id="vcsOrg" name="vcsOrg" aria-describedby="vcsOrg-hint">
            <option value="" selected disabled></option>
            <option value="Home-Start">Home-Start</option>
            <option value="Mind">Mind</option>
          </select>
        </div>

      <button class="govuk-button">
        Continue
      </button>
    </form>
      <script type="application/json" id="my-form-validation">

        {
          "vcsOrg": {
            "presence": {
              "message": "^Select an organisation"
            }
          }
        }
      </script>
    </fieldset>
  </div>


</div>
{% endblock %}

{% block pageScripts %}
<script>
  let selectElement = document.querySelector('#vcsOrg')

  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    name: 'vcsOrg',
    selectElement: selectElement
  })
</script>
{% endblock %}