{% extends "layout_dfe_admin.html" %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Home-Start</h1>
  </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    Home-Start
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="" href="">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Local authority
                </dt>
                <dd class="govuk-summary-list__value">
                    Bristol City Council
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Type
                </dt>
                <dd class="govuk-summary-list__value">
                    Voluntary community organisation
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
        </dl>
        <form method="post">
            <button class="govuk-button">Save details</button>
        </form>
        <p><a href="view-users">Back to manage local authorities and voluntary community organisations</a></p>
    </div>
</div>

{% endblock %}
