{% extends "layout_dfe_admin.html" %}
{% set hideNavigation = true %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<form method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You have created a new password</h1>
    <p>You can now sign in using your new password.</p>
    <p>We have sent you an email to confirm this.</p>
      <a class="govuk-button" href="../sign-in">Sign in</a>
  </div>
</div>
</form>

{% endblock %}
