{% extends "layout_dfe_admin.html" %}
{% set hideNavigation = true %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Create a new password
        </h1>
      </legend>
      <p>Your password must be 10 or more characters. </p>
      <p>Using 3 random words makes your password stronger. Try to use numbers, letters and symbols.</p>
      <form method="post" novalidate data-validate='my-form-validation'>
        <div class="govuk-form-group"> <label for="new-password" class="govuk-label">New password</label>
          <input type="password" name="new-password" id="new-password" class="govuk-input govuk-!-width-one-half" autocomplete="new-password">
        </div>
        <div class="govuk-form-group"> <label for="confirm-password" class="govuk-label">Confirm new password</label>
          <input type="password" name="confirm-password" id="confirm-password" class="govuk-input govuk-!-width-one-half" autocomplete="confirm-password">
        </div>
        <button class="govuk-button">
          Save
        </button>
      </form>
      <script type="application/json" id="my-form-validation">

        {
          "new-password": {
            "presence": {
              "message": "^Enter a new password"
            }
          },
          "confirm-password": {
            "presence": {
              "message": "^Confirm your new password"
            },
            "equality": {
              "attribute": "new-password",
              "message": "^Passwords do not match"
            }
          }
        }
      </script>
    </fieldset>
  </div>


</div>
{% endblock %}
