{% extends "layout_fh.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Add details about the support you offer</h1>

    <p>Tell families and the people working with them about the support or services you offer.</p>
    <p>These details help families and people working with them decide whether your support is right for them.</p>

    <form method="post">
      <button class="govuk-button">
        Add details
      </button>
    </form>
  </div>


</div>
{% endblock %}
