{% extends "layout_fh_signedin.html" %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Check the service details
        </h1>
      </legend>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="replace-commas">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Service name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['serviceName']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden"> service name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Support offered
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['category']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden"> type of support offered</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Childcare support offered
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['subcategory']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden"> type of childcare support offered</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How the support takes place
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['deliveryString']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden">type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Where the in person support takes place
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['locationString']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden"> location</span>
            </a>
          </dd>
        </div>
        {% if data['ownLocation'] === true %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address of own location
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['address-line-1']}}<br>{{data['address-line-2']}}<br>{{data['address-town']}}<br>{{data['address-county']}}<br>{{data['address-postcode']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Who the service is for
          </dt>
          <dd class="govuk-summary-list__value" id="test">
              {{ data['ageString'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden">type</span>
            </a>
          </dd>
        </div>
        {% if data['childrenAndYoungPeople'] === true %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Age of children and young people
          </dt>
          <dd class="govuk-summary-list__value" id="test">
            {{ data['age-range-from'] }} to {{ data['age-range-to'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden">type</span>
            </a>
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Language
          </dt>
          <dd class="govuk-summary-list__value">
              {{data['languageString']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden">type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the service paid for
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['payForService'] === 'Yes' %}
            {{data['payForService']}} - £{{data['cost-per-item']}} per {{data['cost-unit'] | lower}}
            {% else %}
            {{data['payForService']}}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden"> payment type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{data['email']}}</p>
            <p class="govuk-body">{{data['telephone']}}</p>
            <p class="govuk-body">{{data['website']}}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description of service
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{data['with-hint']}}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" onclick="showAlert();">
              Change<span class="govuk-visually-hidden">service description</span>
            </a>
          </dd>
        </div>
      </dl>

    <form method="post">

      <button class="govuk-button">
        Send for review
      </button>
    </form>
    </fieldset>
  </div>


</div>
{% endblock %}

{% block pageScripts %}
<script type="javascript">
  // $(document).ready(function () {
  //   $("body").children().each(function() {
  //     $(this).html($(this).html().replace(",",",&nbsp;"));
  //   });
  // })
</script>
{% endblock %}