{% extends "layout_fh_signedin.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Home-Start Tower Hamlets</h1>

<!--    <hr class="govuk-section-break govuk-section-break&#45;&#45;visible govuk-section-break&#45;&#45;l">-->
<!--    <h2 class="govuk-heading-l">Organisations</h2>-->
<!--    <p class="govuk-caption-m">Add and manage voluntary and community sector organisations that operate in your local authority area.</p>-->
<!--    <div class="cards">-->
<!--      <div class="card">-->
<!--        <h2 class="govuk-heading-m"><a href="">Add an organisation</a></h2>-->
<!--        <p class="govuk-body-s">Add details for an organisation that operates in your local authority area.</p>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <h2 class="govuk-heading-m"><a href="">Manage an organisation</a></h2>-->
<!--        <p class="govuk-body-s">Change details or remove a voluntary and community sector organisation from your local authority area.</p>-->
<!--      </div>-->
<!--    </div>-->

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
        <h2 class="govuk-heading-m"><a href="add-service/service-name">Add a service</a></h2>
        <p class="govuk-body-s">Add details about a service you offer.</p>
      </div>
<!--      <div class="card">-->
<!--        <h2 class="govuk-heading-m"><a href="">Remove a service</a></h2>-->
<!--        <p class="govuk-body-s">Remove a voluntary and community sector organisation offered service from your local authority area.</p>-->
<!--      </div>-->
    </div>

  </div>
</div>
{% endblock %}
