{% extends "layout_dfe_admin.html" %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Stay and Play</h1>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Name
              </dt>
              <dd class="govuk-summary-list__value">
                  Stay and Play
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#" onclick="showAlert();">
                      Change<span class="govuk-visually-hidden"> service name</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Support it offers
              </dt>
              <dd class="govuk-summary-list__value">
                  Before and after school clubs
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#" onclick="showAlert();">
                      Change<span class="govuk-visually-hidden"> what does it help with?</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  How can families use it?
              </dt>
              <dd class="govuk-summary-list__value">
                  In person
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#" onclick="showAlert();">
                      Change<span class="govuk-visually-hidden"> how can families use it?</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Address
              </dt>
              <dd class="govuk-summary-list__value">
                  The Good Shepherd Mission
                  <br>
                  17 Three Colts Lane
                  <br>
                  London
                  <br>
                  E2 6JL
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#" onclick="showAlert();">
                      Change<span class="govuk-visually-hidden"> address</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Opening days
              </dt>
              <dd class="govuk-summary-list__value">
                  Tuesday, Wednesday
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="">
                      Change<span class="govuk-visually-hidden"> Opening</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Opening times the same each day
              </dt>
              <dd class="govuk-summary-list__value">
                  No
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="">
                      Change<span class="govuk-visually-hidden"> Opening</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Opening times
              </dt>
              <dd class="govuk-summary-list__value">
                  Tuesday: 10:00am to 12:30pm and 2:00pm to 5:30pm
                  <br><br>
                  Wednesday: 09:00am to 12:00pm and 2:00pm to 5:30pm
                  <br><br>
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="">
                      Change<span class="govuk-visually-hidden"> Opening</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  For children and young people?
              </dt>
              <dd class="govuk-summary-list__value" id="test">
                  Yes - 0 to 12 months to 4 years old
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#" onclick="showAlert();">
                      Change<span class="govuk-visually-hidden"> for children and young people?</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Languages
              </dt>
              <dd class="govuk-summary-list__value">
                  English
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#" onclick="showAlert();">
                      Change<span class="govuk-visually-hidden"> languages?</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Paid for?
              </dt>
              <dd class="govuk-summary-list__value">
                  Yes - £2 per day
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#" onclick="showAlert();">
                      Change<span class="govuk-visually-hidden"> paid for?</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Contact details
              </dt>
              <dd class="govuk-summary-list__value">
                  info@goodshepherdmission.org.uk<br>
                  020 7739 3822<br>
                  http://www.goodshepherdmission.org.uk
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#" onclick="showAlert();">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  More details
              </dt>
              <dd class="govuk-summary-list__value">
                  <p class="govuk-body">'Bouncers' Parents and Toddler Group aimed at parents/carers in Bethnal Green. A range of play resources, refreshments and a singing and story time.</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#" onclick="showAlert();">
                      Change<span class="govuk-visually-hidden"> more details</span>
                  </a>
              </dd>
          </div>
      </dl>

      <form method="post">
          <button class="govuk-button">Save</button>
      </form>
      <p><a href="view-services">Back to manage your services</a></p>
  </div>
</div>

{% endblock %}
