{% extends "layout_dfe_fh_prof.html" %}
{% set mainClasses = "custom-main" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="../results">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Solace in Tower Hamlets (SASS)</h1>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Category
        </dt>
        <dd class="govuk-summary-list__value">
          Domestic abuse
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cost
        </dt>
        <dd class="govuk-summary-list__value">
          Free
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Delivery method
        </dt>
        <dd class="govuk-summary-list__value">
          In person
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          For children and young people
        </dt>
        <dd class="govuk-summary-list__value">
          aged 16 and over
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Languages
        </dt>
        <dd class="govuk-summary-list__value">
          English
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">More details</h2>
    <p>
      Tower Hamlets SASS is a crisis intervention service, which provides advice and support to people aged 16 and over in 
      Tower Hamlets who are currently experiencing domestic abuse. Priority for ongoing support will be given 
      to victims and survivors who are identified as high risk, homeless, or experiencing economic abuse.
    </p>
 

    
    <h2 class="govuk-heading-m">Connect family to this service</h2>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Opening time
      </dt>
      <dd class="govuk-summary-list__value">
          We are open Monday to Friday, 9am to 5pm.
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Our free helpline is always available:
      </dt>
      <dd class="govuk-summary-list__value">
        0808 802 5565
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Phone
      </dt>
      <dd class="govuk-summary-list__value">
        <a href="tel:0201234567">0203 789 1011</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email
      </dt>
      <dd class="govuk-summary-list__value">
        <a href="mailto:support@towehamletssupport.org.uk">support@towehamletssupport.org.uk</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Address
      </dt>
      <dd class="govuk-summary-list__value">
        Address United House,<br>
        39-41 North Road,<br>
        N7 9DP<br>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Website
      </dt>
      <dd class="govuk-summary-list__value">
        <a href="https://www.solacewomensaid.org/">www.solacewomensaid.org</a>
      </dd>
    </div>
    <form method="post" class="govuk-!-margin-top-4">
      <button class="govuk-button">
        Connect family to service
      </button>
    </form>
  </div>

  <!-- <div class="govuk-grid-column-one-third">
    <aside class="app-related-items">
      <h2 class="govuk-heading-m">Location</h2>
      <iframe class="govuk-!-margin-bottom-4" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9929.571577470073!2d-0.0596421!3d51.5243532!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2cdb50010f17d664!2sThe%20Good%20Shepherd%20Mission!5e0!3m2!1sen!2suk!4v1658491481686!5m2!1sen!2suk"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <p>The Good Shepherd Mission<br>
        17 Three Colts Lane<br>
        London<br>
        E2 6JL</p>
    </aside>
  </div> -->


</div>
{% endblock %}
