{% extends "layout_vcs_req_supp_admin_email.html" %}
{% set mainClasses = "custom-main" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Different versions for participants</h1>

    <p>P1, P3 and P4. Role: Family support worker.<br> Organisation: North family hub <a href="v1/email">click here</a>.</p>

    <p>P2. Role: Family support worker.<br> Organisation: North family hub <a href="v2/email">click here</a>.</p>

    <p>P5. Role: Family support worker.<br> Organisation: North family hub <a href="v3/email">click here</a>.</p>

    <p>P6. Role: Family support worker.<br> Organisation: North family hub <a href="v4/email">click here</a>.</p>

    <p>P7. Role: Family support worker.<br> Organisation: North family hub <a href="v5/email">click here</a>.</p> 

  </div>
</div>
{% endblock %}