{% extends "layout_dfe_admin.html" %}
{% set hideNavigation = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">Internal service errors (500s)</h1>
    <h2 class="govuk-heading-l">Connect families to services</h2>

    <p><a href="connect/500">500 page: there is a problem</a></p>

    <h2 class="govuk-heading-l">Find support for your family</h2>

    <p><a href="family/500">500 page: there is a problem</a></p>

    <h2 class="govuk-heading-l">Manage family support services and accounts</h2>

    <p><a href="manage/500">500 page: there is a problem</a></p>

  </div>


</div>
{% endblock %}
