{% extends "layout_vcs_req_supp_admin_email.html" %}
{% set mainClasses = "custom-main" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p>From: Manage family support services and accounts</p>

    <p>Subject: New request for support</p>

    <h1 class="govuk-heading-l">Request for support</h1>

    <p>New request for support.</p>

    <p>You have received a new request for support. Follow the link to view the request: <a href="sign-in">click here</a>.</p>

  </div>
</div>
{% endblock %}