{% extends "layout_dfe_fh_prof.html" %}
{% set mainClasses = "custom-main" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="../results">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Bouncers Parent and Toddler Group</h1>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Category
        </dt>
        <dd class="govuk-summary-list__value">
          Parent, baby and toddler groups
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cost
        </dt>
        <dd class="govuk-summary-list__value">
          £4 every session
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Delivery method
        </dt>
        <dd class="govuk-summary-list__value">
          In person
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          For children and young people
        </dt>
        <dd class="govuk-summary-list__value">
          7 to 11 years old
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Languages
        </dt>
        <dd class="govuk-summary-list__value">
          English
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">More details</h2>
    <p>Bouncers Parents and Toddler Group from 10am - 11:30am (term time only).</p>
    <p>Children's Club (7-11yrs) from 6.30pm - 7.45pm (term time only).</p>
    <p>Bouncers Parents and Toddler Group aimed at parents/carers in Bethnal Green. A range of play resources, refreshments and a singing and story time.</p>
    <p>Children Club (7-11 years) aimed at boys and girls in this age group living in Bethnal Green. A range of play opportunities, including active games, craft, board games and cooking. We also run an annual week-end residential in the Spring.</p>

    <!-- <h2 class="govuk-heading-m">Connect a family to this service</h2>
    <p>Use this to give the family's details to the service. The service will contact the family if they can help.</p>
    <p>To connect them, you will need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the family's contact details</li>
      <li>details about why the family needs help</li>
      <li>consent from the family for you to give their details to the service</li>
    </ul>
    <p>Your contact details will also be shared with the service.</p> -->

    <h2 class="govuk-heading-m">Connect family to this service</h2>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Phone
      </dt>
      <dd class="govuk-summary-list__value">
        <a href="tel:0201234567">020 123 4567</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email
      </dt>
      <dd class="govuk-summary-list__value">
        <a href="mailto:bouncers.playgroup@authority.gov.uk">bouncers.playgroup@authority.gov.uk</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Address
      </dt>
      <dd class="govuk-summary-list__value">
        The Good Shepherd Mission<br>
        17 Three Colts Lane<br>
        London<br>
        E2 6JL<br>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Website
      </dt>
      <dd class="govuk-summary-list__value">
        <a href="http://www.bouncersplaygroup.co.uk/">www.bouncersplaygroup.co.uk</a>
      </dd>
    </div>

    


    <!-- <form method="post" class="govuk-!-margin-top-2">
      <button class="govuk-button">
        Connect family to service
      </button>
    </form> -->
  </div>

  <!-- <div class="govuk-grid-column-one-third">
    <aside class="app-related-items">
      <h2 class="govuk-heading-m">Location</h2>
      <iframe class="govuk-!-margin-bottom-4" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9929.571577470073!2d-0.0596421!3d51.5243532!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2cdb50010f17d664!2sThe%20Good%20Shepherd%20Mission!5e0!3m2!1sen!2suk!4v1658491481686!5m2!1sen!2suk"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <p>The Good Shepherd Mission<br>
        17 Three Colts Lane<br>
        London<br>
        E2 6JL</p>
    </aside>
  </div> -->


</div>
{% endblock %}
