{% extends "layout_fh_prof_signedin.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">East London Tabernacle</h1>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Category
        </dt>
        <dd class="govuk-summary-list__value">
          Faith groups
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cost
        </dt>
        <dd class="govuk-summary-list__value">
          Free
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Delivery method
        </dt>
        <dd class="govuk-summary-list__value">
          In person, online
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          For children and young people
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Families can choose location
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Languages
        </dt>
        <dd class="govuk-summary-list__value">
          English, Polish
        </dd>
      </div>
    </dl>
    <h2 class="govuk-heading-m">More details</h2>
    <p>ELT Baptist Church is passionately committed to serving its local community in Tower Hamlets, and reaching out with the good news about Jesus.</p>
    <h2 class="govuk-heading-m">Connect a family to this service</h2>
    <p>Use this to give the family's details to the service. The service will contact the family if they can help.</p>
    <p>To connect them, you will need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the family's contact details</li>
      <li>details about why the family needs help</li>
      <li>consent from the family for you to give their details to the service</li>
    </ul>
    <p>Your contact details will also be shared with the service.</p>
    <form method="post">
      <button class="govuk-button">
        Connect family to service
      </button>
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items">
      <h2 class="govuk-heading-m">Location</h2>
      <iframe class="govuk-!-margin-bottom-4" src="https://maps.google.com/maps?q=east%20london%20tabernacle%20baptist%20church&t=&z=13&ie=UTF8&iwloc=&output=embed"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <p>East London Tabernacle Baptist Church<br>
        1 Burdett Road<br>
        London<br>
        E3 4TU</p>
    </aside>
  </div>

</div>
{% endblock %}
